.category-list {
  @include list-reset;

  display: flex;
  flex-direction: column;
}

.category-list__link {
  position: relative;

  align-self: flex-start;
  margin-bottom: 15px;

  color: rgb(var(--color-text));
  font-size: map-get($font-sizes, "sm");
  text-decoration: none;

  &:last-child {
    margin-bottom: 0;
  }
}

.category-list__link[href] {
  margin-bottom: 20px;

  font-size: map-get($font-sizes, "md");

  &::before {
    position: absolute;
    right: 0;
    bottom: -3px;
    left: 0;

    height: 2px;

    background-color: rgb(var(--color-accent));

    transition: $transition;

    content: "";
  }
}

@include from(sm) {
  .category-list__link:hover,
  .category-list__link:focus {
    &::before {
      right: 15%;
      left: 15%;

      width: auto;
    }
  }
}
