.feature-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  column-gap: 15px;
}

.feature-menu__item {
  @include button-reset;

  min-height: 25px;

  font-weight: 500;
  line-height: 0;

  &--lang {
    color: rgb(var(--color-accent));
    line-height: normal;
  }
}

.feature-menu__icon {
  width: 25px;
  height: 25px;

  fill: rgb(var(--color-text));
}

@include from(sm) {
  .feature-menu {
    column-gap: 30px;
  }
}
