.navigation .feature-menu {
  column-gap: 15px;
}

.navigation .feature-menu__item--search {
  display: none;
}

.navigation__list {
  @include list-reset;
}

.navigation__item {
  color: rgb(var(--color-text));
  font-weight: 500;
  text-transform: uppercase;

  &--back {
    text-transform: none;
  }
}

.navigation__link {
  display: block;

  color: rgb(var(--color-text));
  text-decoration: none;
}

.navigation__item--active .navigation__link {
  color: rgb(var(--color-accent), 1);
}

.navigation__item--back .navigation__link {
  color: rgb(var(--color-text), 0.5);
}

.navigation__sub-toggle {
  @include button-reset;

  position: relative;

  display: none;
  width: 18px;
  height: 18px;
  margin-right: $container-grid;

  &::before,
  &::after {
    position: absolute;
    top: 8px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: rgba(var(--color-text), 0.5);

    content: "";
  }

  &::before {
  }

  &::after {
    transform: rotate(90deg);
  }
}

.navigation__sub-list {
  @include list-reset;
}

@include only-mobile(md) {
  .navigation__wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;

    max-width: 280px;
    height: 100%;

    background-color: rgb(var(--color-bg));
    box-shadow: 1px 0 20px rgb(var(--color-shadow));

    transform: translateX(-110%);
    visibility: hidden;

    transition: transform 0.3s ease, visibility 0.3s ease;
  }

  .navigation__wrap--active {
    transform: translateX(0);
    visibility: visible;
  }

  .navigation__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
    padding: 20px;

    column-gap: 20px;

    background-color: rgba(var(--color-text), 0.05);
  }

  .navigation__logo .logo__desc {
    display: none;
  }

  .navigation__logo {
    flex-shrink: 0;
  }

  .navigation__content {
    position: relative;

    height: calc(100% - 90px);
    padding: 10px 0;

    overflow-y: auto;
  }

  .navigation__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .navigation__link {
    flex-grow: 1;
    padding: 10px 20px;
  }

  .navigation__item--back .navigation__link {
    @include button-reset;

    text-align: left;
  }

  .navigation__sub-toggle {
    display: block;
  }

  .navigation__sub-list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    height: 0;
    padding: 10px 0;
    overflow: hidden;

    background-color: rgb(var(--color-bg));

    transform: translateX(-110%);

    transition: transform 0.3s ease;
  }

  .navigation__sub-list--open {
    height: 100%;
    overflow: unset;

    transform: translateX(0);
  }

  .navigation__search {
    @include button-reset;

    position: relative;

    display: block;
    width: calc(100% - 40px);
    margin: 10px 20px;
    padding: 20px 20px 20px 40px;

    color: rgba(var(--color-text), 0.5);
    font-size: map-get($font-sizes, "xs");
    text-align: left;

    border-bottom: 1px solid rgb(var(--color-text), 0.3);
  }

  .navigation__search-icon {
    position: absolute;
    top: 50%;
    left: 0;

    transform: translateY(-50%);

    fill: rgba(var(--color-text), 0.5);
  }

  .navigation__search-link {
    position: relative;

    display: block;
    padding: 15px 20px;
    overflow: hidden;

    color: rgba(var(--color-text), 0.8);
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;

    &::before {
      position: absolute;
      right: $container-grid;
      bottom: 0;
      left: $container-grid;

      height: 1px;

      background-color: rgba(var(--color-text), 0.2);

      content: "";
    }
  }

  .navigation__search-link:last-child::before {
    display: none;
  }

  .no-js .navigation__header {
    justify-content: flex-start;
  }

  .no-js .navigation__feature {
    margin-left: auto;
  }

  .no-js .navigation:focus-within .menu-toggle {
    pointer-events: none;
  }

  .no-js .navigation__sub-list {
    height: 100%;
    min-height: 500px;
    overflow-y: auto;
  }

  .no-js .navigation__toggle + .navigation__wrap {
    visibility: visible;
  }

  .no-js .navigation__toggle:focus + .navigation__wrap,
  .no-js .navigation__wrap:focus-within {
    transform: translateX(0);
  }

  .no-js .navigation__sub-list:focus-within,
  .no-js .navigation__sub-toggle:focus + .navigation__sub-list {
    transform: translateX(0);
  }

  @media (hover: none) {
    .no-js .navigation__sub-list:hover,
    .no-js .navigation__toggle:hover + .navigation__sub-list {
      transform: translateX(0);
    }
  }

  .no-js .navigation__item--back .navigation__link {
    pointer-events: none;
  }

  .no-js .navigation__search {
    display: none;
  }
}

@include from(md) {
  .navigation__toggle,
  .navigation__header,
  .navigation__item--back,
  .navigation__search {
    display: none;
  }

  .navigation__list {
    display: flex;

    column-gap: 50px;
  }

  .navigation__item {
    position: relative;
  }

  .navigation__link {
    padding: 12px 0;

    transition: color 0.3s ease;

    &:hover,
    &:focus {
      color: rgb(var(--color-accent));
    }
  }

  .navigation__item--active .navigation__link {
    color: rgb(var(--color-accent));
  }

  .navigation__sub-list {
    position: absolute;
    right: 0;
    z-index: 10;

    min-width: 150px;
    padding: 10px 0;

    background-color: rgb(var(--color-submenu));
    border-radius: 5px;
    box-shadow: 1px 0 20px rgb(var(--color-shadow));
    visibility: hidden;
    opacity: 0;

    transition: $transition;
  }

  .navigation__item:hover > .navigation__sub-list,
  .navigation__item:focus-within > .navigation__sub-list,
  .navigation__link:focus ~ .navigation__sub-list {
    visibility: visible;
    opacity: 1;
  }

  .navigation__sub-list .navigation__item {
    font-weight: normal;
    text-transform: none;
  }

  .navigation__sub-list .navigation__link {
    padding: 8px 20px;

    transition: background-color 0.3s ease;

    &:hover,
    &:focus {
      background-color: rgb(var(--color-submenu-hover));
    }
  }

  .navigation__sub-list .navigation__sub-list {
    top: -9px;
    right: 100%;
  }
}
