.shape-decoration {
  position: absolute;
  top: 80px;
  left: 50%;
  z-index: -1;

  width: 80vw;
  max-width: 960px;

  transform: translateX(-50%);
}

.dark-mode .shape-decoration path {
  fill: rgba(var(--color-accent), 0.2);
}

.no-js .shape-decoration {
  display: none;
}

@include from(md) {
  .shape-decoration {
    width: 50vw;
  }
}
