.title {
  font-size: map-get($font-sizes, "xxl");
  font-family: $font-second;
  text-transform: uppercase;

  &:first-letter {
    color: rgb(var(--color-accent));
  }
}

.title a {
  color: rgb(var(--color-text));
  text-decoration: none;
}

@include from(sm) {
  .title a {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

@include from(md) {
  .title a,
  .title span {
    position: sticky;
    top: 10px;
  }
}
