header.main-header.main-header--article
  .main-header__container.container

    .main-header__logo
      +logo
      
    .main-header__nav
      +navigation

    .main-header__feature
      +feature-menu
