.inner-category {
  margin-bottom: 120px;
}

.inner-category__container {

}

.inner-category__wrap {

}

.inner-category__title {

}

.inner-category__content {

}

.inner-category__list {
  --gap: 60px;
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  margin-bottom: 80px;
}

.inner-category__item {
  width: 100%;
}

.inner-category__card {

}

//.inner-category__pagination {
//  justify-content: center;
//}

@include from(sm) {
  .inner-category__list {
    --gap: 40px;
    column-gap: var(--gap);
    row-gap: calc(var(--gap) + 20px);
  }

  .inner-category__item {
    width: calc((100% - var(--gap)) / 2);
  }
}

@include from(md) {
  .inner-category__item {
    width: calc((100% - var(--gap)) / 2);
  }
}

@media screen and (min-width: 1400px) {
  .inner-category__item {
    width: calc((100% - var(--gap) * 2) / 3);
  }
}

@include from(lg) {
  .inner-category__item {
    width: calc((100% - var(--gap) * 2) / 3);
  }
}
