.main-footer {
  margin: 0;
  padding: 40px 0;

  color: rgba(var(--color-text), 0.5);
}

.main-footer__container {

}

.main-footer__wrap {

}

.main-footer__copyright {
  margin-bottom: 15px;
}

.main-footer__content {
}

.main-footer__email {
  margin-bottom: 30px;
}

.main-footer__email a {
  color: rgb(var(--color-accent));
  text-decoration: none;
}

.main-footer__social {

}

@include from(sm) {
  .main-footer__email a {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

@include from(md) {
  .main-footer {
    padding: 40px 0 85px;
  }

  .main-footer__copyright,
  .main-footer__email {
    margin: 0;
  }

  .main-footer__content {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
  }
}
