.main-slider {

}

.main-slider__container {

}

.main-slider__wrap {

}

.main-slider__title {

}

.main-slider__list {
  width: 100%;
}

.main-slider .swiper-wrapper {
  // Вертикально
  @media (min-aspect-ratio: 9 / 26) {
    height: calc(100vh - 300px);
    min-height: 250px;
  }

  // Горизонтально
  @media (min-aspect-ratio: 10 / 8) {
    height: 450px;
    min-height: auto;
  }
}

.main-slider__slide {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100%;

  color: rgb(var(--color-text));
  text-decoration: none;

  background-color: rgba(var(--color-text), 0.1);
}

.main-slider__img {
  position: relative;

  height: 100%;
  margin: 0;

  line-height: 1;

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: radial-gradient(ellipse at center, rgba(181, 189, 200, 0) 0%, rgba(130, 140, 149, 0) 50%, rgba(40, 52, 59, 1) 100%);
    background-repeat: no-repeat, repeat;
    background-size: 100% 100%, 30px 30px;

    content: "";
  }
}

.main-slider__info {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  min-height: 126px;
  padding: 20px;

  color: white;

  background-color: rgba(var(--color-accent), 0.8);

  opacity: 0;

  transition: $transition;
}

.main-slider__slide.swiper-slide-active .main-slider__info {
  opacity: 1;
}

.main-slider__subtitle {
  margin: 0 0 20px;

  font-size: map-get($font-sizes, "md");
  line-height: 1.3;
}

.main-slider__desc {
  margin: 0;

  font-size: map-get($font-sizes, "sm");
}

.main-slider__img img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.main-slider__toggles {
  display: flex;
  align-items: center;
  margin: 30px 0 0;
}

.main-slider .swiper-pagination {
  display: flex;

  column-gap: 8px;
}

.main-slider .swiper-pagination-bullet {
  width: 14px;
  height: 14px;

  background-color: rgba(var(--color-text), 0.2);
  border-radius: 50%;
}

.main-slider .swiper-pagination-bullet-active {
  background-color: rgb(var(--color-accent));
}

.main-slider .swiper-button-next,
.main-slider .swiper-button-prev {
  @include button-reset;

  line-height: 0;
}

.main-slider .swiper-button-next {

}

.main-slider .swiper-button-prev {
  margin-right: 15px;
  margin-left: auto;
}

.main-slider .swiper-button-next svg,
.main-slider .swiper-button-prev svg {
  fill: rgb(var(--color-text));
}

.main-slider .swiper-button-disabled svg {
  fill: rgba(var(--color-text), 0.2);
}

.no-js .main-slider__list {
  overflow-x: auto;
}

.no-js .main-slider .swiper-wrapper {
  column-gap: 30px;
}

.no-js .main-slider__slide {
  width: 100%;
}

.no-js .main-slider__toggles {
  display: none;
}

.no-js .main-slider__slide .main-slider__info,
.no-js .main-slider__slide.swiper-slide-active:hover .main-slider__info,
.no-js .main-slider__slide.swiper-slide-active:focus .main-slider__info,
.no-js .main-slider__slide:hover .main-slider__info,
.no-js .main-slider__slide:focus .main-slider__info {
  opacity: 1;
}

@include from(sm) {
  .main-slider__slide.swiper-slide-active:hover .main-slider__info,
  .main-slider__slide.swiper-slide-active:focus .main-slider__info,
  .main-slider__slide:hover .main-slider__info,
  .main-slider__slide:focus .main-slider__info {
    opacity: 1;
  }

  .main-slider .swiper-pagination-bullet {
    cursor: pointer;
  }

  .main-slider .swiper-button-disabled {
    cursor: not-allowed;
  }

  .main-slider .swiper-button-prev svg,
  .main-slider .swiper-button-next svg {
    transition: $transition;
  }

  .main-slider .swiper-button-prev:not(.swiper-button-disabled):hover svg,
  .main-slider .swiper-button-next:not(.swiper-button-disabled):hover svg,
  .main-slider .swiper-button-prev:not(.swiper-button-disabled):focus svg,
  .main-slider .swiper-button-next:not(.swiper-button-disabled):focus svg {
    fill: rgb(var(--color-accent));
  }

  .no-js .main-slider__slide {
    width: calc(100% / 3);
  }

  .no-js .main-slider__slide .main-slider__info {
    opacity: 0;
  }

  .no-js .main-slider__slide:first-child .main-slider__info {
    opacity: 1;
  }
}

@include from(md) {
  .main-slider__wrap {
    $scrollWidth: 20px;
    $containerWidth: 100%;

    width: calc($containerWidth + (100vw - $scrollWidth - $containerWidth) / 2);
  }

  .main-slider__title {
    grid-column: 1/2;
  }

  .main-slider__list {
    grid-column: 2/4;
  }
}

@include from(lg) {
  .main-slider__info {
    min-height: 100px;
  }

  .main-slider .swiper-button-prev {
    margin-left: 74%;
  }
}
