.main-about {

}

.main-about__container {

}

.main-about__wrap {

}

.main-about__title {

}

.main-about__content {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.main-about__desc {
}

.main-about__desc p {
  margin: 30px 0;

  &:first-child,
  &:last-child {
    margin: 0;
  }
}

.main-about__block {

}

.main-about__subtitle {
  margin: 0 0 30px;

  text-transform: uppercase;
}

.main-about__list {

}

@media screen and (min-width: 550px) {
  .main-about__content {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .main-about__desc {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .main-about__block--skill {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .main-about__block--tech {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}

@media screen and (min-width: 900px) {
  .main-about__content {
    grid-template-columns: 1fr 1fr;

    column-gap: 80px;
  }

  .main-about__desc {
    grid-row: 1/3;
    grid-column: 1/2;
  }

  .main-about__block--skill {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .main-about__block--tech {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}

@include from(lg) {
  .main-about__content {
    grid-template-columns: 2.3fr 1fr 1fr;
  }

  .main-about__desc {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .main-about__block--skill {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .main-about__block--tech {
    grid-row: 1/2;
    grid-column: 3/3;
  }
}
