.main-article {
  padding-bottom: 100px;
}

.main-article__header-container {

}

.main-article__header {
  padding: 140px 0 70px;

  background-color: rgb(var(--color-blue));
}

.main-article__title {
  margin: 0 0 30px;

  font-family: $font-second;
  line-height: 1.2;
  word-wrap: break-word;
}

.main-article__title-accent {
  color: rgb(var(--color-accent))
}

.main-article__desc {
  margin-bottom: 60px;

  font-size: map-get($font-sizes, "lg");
}

.main-article__info {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 40px;
}

.main-article__info-title {
  width: 100%;

  color: rgb(var(--color-accent));
  font-weight: 500;

  &:first-of-type {
    width: auto;
    margin-right: 10px;
  }
}

.main-article__info-desc {
  width: 100%;
  margin: 0 0 10px;

  &:first-of-type {
    width: auto;
  }
}

.main-article__info-desc a {
  color: rgb(var(--color-accent));

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.main-article__info-list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;

  column-gap: 10px;
}

.main-article__info-item {
  position: relative;

  &:last-child::before {
    display: none;
  }

  &::before {
    position: absolute;
    right: -4px;

    content: ",";
  }
}

.main-article__share {

}

.main-article__content {
  padding: 60px 0 0;
}

.main-article__content > *:first-child {
  margin-top: 0;
}

.main-article__content > * + *:not(h1,h2,h3,h4,h5,h6) {
  margin-top: 25px;
}

.main-article__content h3 + p {
  margin-top: 0;
}

.main-article__content a {
  color: rgba(var(--color-accent));

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.main-article__content ol li,
.main-article__content ul li {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.main-article__content .attention {
  color: rgba(var(--color-accent));
}

.main-article__content figure {
  margin: 50px auto;
}

.main-article__content figure img {
  min-height: auto;
  margin: 0 auto;
}

.main-article__content figcaption {
  margin-top: 30px;

  color: rgba(var(--color-text), 0.5);
  font-size: map-get($font-sizes, "xs");
  text-align: center;
}

.main-article__content img,
.main-article__content iframe,
.main-article__content video {
  display: block;
  min-height: 400px;

  box-shadow: 1px 0 20px rgb(var(--color-shadow));
}

.main-article__content iframe {
  border: none;
}

.main-article__content img {
  object-fit: cover;
}

.main-article__pagination {
  padding: 40px 0;

  border-top: 1px solid rgba(var(--color-text), 0.2);
  border-bottom: 1px solid rgba(var(--color-text), 0.2);
}

.main-article__content + .main-article__pagination {
  margin-top: 80px;
}

.main-article__pagination-prev,
.main-article__pagination-next {
  display: block;
  width: 100%;

  color: rgb(var(--color-accent));
  text-decoration: none;
}

.main-article__pagination-prev {
  margin-bottom: 30px;
}

.main-article__pagination-next {

}

.main-article__pagination-label {
  display: block;

  color: rgb(var(--color-text), 0.5);

  font-size: map-get($font-sizes, "sm");
}

.main-article__pagination-title {
  display: block;

  font-size: map-get($font-sizes, "lg");

  font-family: $font-second;
  text-transform: uppercase;
  text-decoration: underline;
}

@media screen and (min-width: 520px) {
  .main-article__info {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
  }

  .main-article__info-title:first-of-type,
  .main-article__info-desc:first-of-type {
    width: auto;
    margin: 0;
  }

  .main-article__info-title {
    grid-column: 1/2;
  }

  .main-article__info-desc {
    grid-column: 2/3;
    margin: 0;
  }
}

@include from(sm) {
  .main-article__content {
    padding: 80px 0 0;
  }

  .main-article__content figure {
    margin: 30px auto;
  }

  .main-article__pagination {
    display: grid;
    grid-template-columns: 1fr 1fr;

    column-gap: 30px;
  }

  .main-article__pagination-prev {
    margin-bottom: 0;
  }

  .main-article__pagination-prev:hover .main-article__pagination-title,
  .main-article__pagination-prev:focus .main-article__pagination-title,
  .main-article__pagination-next:hover .main-article__pagination-title,
  .main-article__pagination-next:focus .main-article__pagination-title, {
    text-decoration: none;
  }
}

@include from(md) {
  .main-article__header-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;

    column-gap: 100px;
  }

  .main-article__title,
  .main-article__desc {
    grid-column: 1/2;
  }

  .main-article__info,
  .main-article__share {
    grid-column: 2/3;
    margin-top: 10px;
  }

  .main-article__title,
  .main-article__info {
    grid-row: 1/2;
  }

  .main-article__title {
    grid-row: 1/3;
  }

  .main-article__desc {
    margin: 0;
  }

  .main-article__content > * {
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
  }

  .main-article__content img,
  .main-article__content iframe,
  .main-article__content video,
  .main-article__content .code-block {
    max-width: 80%;
    margin: 40px auto;
  }

  .main-article__pagination {
    column-gap: 50px;
  }
}

@include from(lg) {
  .main-article__header-container {
    grid-template-columns: 2fr 1fr;

    column-gap: 100px;
  }
}
