.modal-search {
  @include overlay(var(--color-overlay));

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 300;

  padding: $container-grid;
}

.modal-search__content {
  position: relative;

  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding-bottom: 30px;
  overflow: hidden;

  background-color: rgb(var(--color-bg));
  border-radius: 10px;
  box-shadow: -1px -1px 0 rgba(var(--color-shadow), 0.7);
}

.modal-search__toggle {
  @include button-reset;

  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;

  width: 20px;
  height: 20px;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: rgba(var(--color-text), 0.5);

    transform: translateY(-50%);

    content: "";
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.modal-search__field {
  position: relative;

  margin: 0;
  padding: 10px 15px;

  background-color: rgba(var(--color-text), 0.02);
  border-bottom: 2px solid rgba(var(--color-text), 0.1);
}

.modal-search__icon {
  position: absolute;
  top: 50%;
  left: 15px;

  width: 24px;
  height: 24px;

  transform: translateY(-50%);

  fill: rgba(var(--color-text), 0.5);
}

.modal-search__input {
  width: 100%;
  padding: 10px 50px 10px 40px;

  color: rgb(var(--color-text));
  font-size: map-get($font-sizes, "xs");

  background-color: transparent;
  border: none;
  outline: none;

  &::placeholder {
    color: rgba(var(--color-text), 0.5);
  }
}

.modal-search__result {
  max-height: calc(100vh - 40px - 87px);
  padding: 20px 0 0;
  overflow: auto;
}

.modal-search__item {
  display: block;
  padding: 1px 0;

  color: rgba(var(--color-text), 0.9);
  text-decoration: none;

  border-bottom: 1px solid rgba(var(--color-text), 0.08);

  &:nth-child(even) {
    background-color: rgba(var(--color-text), 0.03);
  }

  &:last-child {
    border: none;
  }
}

.modal-search__item--not-found {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-search__item-wrap {
  position: relative;

  max-height: 70px;
  margin: 15px;
  overflow: hidden;
}

@include from(sm) {
  .modal-search {
    padding: 10vh;
  }

  .modal-search__item[href]:hover,
  .modal-search__item[href]:focus {
    background-color: rgba(var(--color-accent), 0.06);

    &:nth-child(even) {
      background-color: rgba(var(--color-accent), 0.06);
    }
  }

  .modal-search__result {
    max-height: calc(100vh - 20vh - 87px);
  }
}
