//- Вернуться на верх
mixin back-top 
  button.back-top(type="button", aria-label="Вернуться на верх страницы", data-el="back-top", hidden)
    +icon('icon-arrow-top')(width="20", height="20", aria-hidden="false")
