mixin feature-menu
  .feature-menu
    //- Дарк мод
    button.feature-menu__item.feature-menu__item--mode(type="button", data-el="dark-mode", aria-label="Переключатель темы сайта")
      +icon("icon-sun")(class="feature-menu__icon", width="25", height="25", data-el="dark-mode-icon")
  
    //- Github профиль
    a.feature-menu__item.feature-menu__item--github(href="https://github.com/eliofery", target="_blank", aria-label="Github профиль")
      +icon("icon-github")(class="feature-menu__icon", width="25", height="25")
  
    //- Поиск по сайту
    button.feature-menu__item.feature-menu__item--search(type="button", data-el="search-open", aria-label="Поиск по сайту")
      +icon("icon-search")(class="feature-menu__icon", width="25", height="25")
  
    //- Переключатель языка сайта
    button.feature-menu__item.feature-menu__item--lang(type="button", aria-label="Переключить язык сайта на английский", translate="no", data-google-lang="en", title="Английский") EN
