mixin logo
  a.logo(href=baseUrl)
    img.logo__img(src="img/logo.svg", width="42", height="50", alt="Логотип", loading="lazy")
    span.logo__desc Портфолио и блог web#[br] разработчика #[b Sergio Eliofery]
