//- Выводит навигацию
mixin navigation
  if jsonData.mainNav.items
    nav.navigation
      button.navigation__toggle.menu-toggle(type="button", data-el="nav-toggle-open", aria-label="Переключатель меню", aria-controls="navigation")
      
      #navigation.navigation__wrap(data-el="nav-wrap")
        .navigation__header
          .navigation__logo
            +logo
          .navigation__feature
            +feature-menu
          button.menu-toggle.menu-toggle--close(type="button", data-el="nav-toggle-close", aria-label="Переключатель меню")
        
        .navigation__content
          ul.navigation__list
            +navigationItem(jsonData.mainNav.items)            
          .navigation__search
            p.navigation__search-wrapp
              input.navigation__search-input(type="text", data-el="search-input", placeholder="Поиск")
              +icon("icon-search")(class="navigation__search-icon", width="20", height="20")      
              .navigation__search-result(data-el="search-result")
      
      .navigation__overlay.overlay(hidden="true", data-el="nav-overlay")

//- Рекурсивный вывод пунктов меню в навигации
mixin navigationItem(items)
  each item in items
    - var classActive = item.active ? "navigation__item--active" : "";
    
    li(class="navigation__item " + classActive)
      a.navigation__link(href=item.link) #{item.title}
      if item.links
        button.navigation__sub-toggle(type="button", data-el="nav-toggle-sub", aria-label="Переключатель вложенного меню")
        ul.navigation__sub-list
          li.navigation__item.navigation__item--back
            button.navigation__link(type="button", data-el="nav-toggle-back") ← Назад
          +navigationItem(item.links)
