//- Выводит навигацию
mixin navigation
  if jsonData.mainNav.items
    nav.navigation
      button.navigation__toggle.menu-toggle(type="button", data-el="nav-toggle-open", aria-label="Переключатель меню", aria-controls="navigation")
      
      #navigation.navigation__wrap(data-el="nav-wrap")
        .navigation__header
          .navigation__logo
            +logo
          .navigation__feature
            +feature-menu
          button.menu-toggle.menu-toggle--close(type="button", data-el="nav-toggle-close", aria-label="Переключатель меню")
        
        .navigation__content(data-el="nav-content")
          ul.navigation__list
            +navigationItem(jsonData.mainNav.items)            
          button.navigation__search(type="button", data-el="search-open") Поиск по сайту
            +icon("icon-search")(class="navigation__search-icon", width="24", height="24", aria-label="false")
      
      .navigation__overlay.overlay(data-el="nav-overlay", hidden)

//- Рекурсивный вывод пунктов меню в навигации
mixin navigationItem(items)
  each item in items
    - var classActive = item.active ? "navigation__item--active" : "";
    
    li(class="navigation__item " + classActive)
      a.navigation__link(href=item.link) #{item.title}
      if item.links
        button.navigation__sub-toggle(type="button", data-el="nav-toggle-sub", aria-label="Переключатель вложенного меню")
        ul.navigation__sub-list
          li.navigation__item.navigation__item--back
            button.navigation__link(type="button", data-el="nav-toggle-back") ← Назад
          +navigationItem(item.links)
