//- Адаптивное изображение
//- Пример: +picture("/img/picture@1x.png") 
mixin picture(img)
  //- Поддерживаемые форматы изображений для адаптации
  - var formatRetina = [".jpg", ".jpeg", ".png"];

  //- Изменяем имя для ретина изображений
  - var img2x = img.replace("@1x", "@2x");

  each format in formatRetina
    if img.endsWith(format)
      //- Изменяем расширение изображения в webp
      - var webpImg = img.replace(format, ".webp");
      - var webpImg2x = img2x.replace(format, ".webp");
      
      //- Изменяем расширение изображения в avif
      - var avifImg = img.replace(format, ".avif");
      - var avifImg2x = img2x.replace(format, ".avif");

      //- Оборачиваем изображение в тег picture
      picture      
        source(type="image/avif", srcset=avifImg + " 1x, " + avifImg2x + " 2x")
        source(type="image/webp", srcset=webpImg + " 1x, " + webpImg2x + " 2x")
        img(src=img, srcset=img2x + " 2x", width, height, alt, loading="lazy")&attributes(attributes)
