extends ../layouts/default.pug

block variables
  - var pageTitle = "Как создать красивую анимацию через css стили и js";
  - var pageDesc = "Этот вопрос мучает пожалуй любого веб разработчика, ведь не мудрено это технология пользуется спросом.";
  - var ogType = "article";

block content
  
