@use "sass:math";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100vh;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;

  min-width: $min-screen;
  margin: 0;

  color: rgb(var(--color-text));
  font-size: $fz;
  font-family: $font-primary;
  line-height: $lh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(var(--color-bg));

  transition: background-color 0.3s ease;
}

img, iframe, object, embed {
  max-width: 100%;
  height: auto;

  background-color: rgb(var(--color-text), 0.1);
}

button {
  @include button;
}

// h1 ... h6
@each $headline, $size in $headlines {
  $margin: $size * $lh;

  #{$headline} {
    margin: $margin 0 math.div($margin, 2);

    font-weight: 500;
    font-size: $size;
  }

  h1 + #{$headline},
  h2 + #{$headline},
  h3 + #{$headline},
  h4 + #{$headline},
  h5 + #{$headline},
  h6 + #{$headline} {
    margin-top: 0;
  }
}

strong,
b {
  font-weight: 500;
}

p {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.sr-only {
  @include sr-only;
}

.overlay {
  @include overlay(var(--color-overlay));
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout__main {
  flex-grow: 1;
}
